<div style="height:100%; width:100%; overflow: auto;" ng-if="debugData" class="bngApp md-padding arc-debug" ng-click="changeStream()">
    <style>
        .arc-debug th {
            text-align: left;
        }
        
        .arc-debug .debug-key {
            font-size: 12px;
            line-height: 14px;
            color: #ccc;
        }
        
        .arc-debug .debug-value {
            font-size: 12px;
            line-height: 14px;
        }
    </style>

    <table class="debug-table">
        <thead>
            <tr>
                <th colspan="2">{{ debugStreamName }}</th>
            </tr>
            <tr>
                <th>Data Point</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in debugData | orderBy: 'id'">
                <td class="debug-key">{{ data.name }}: </td>
                <td class="debug-value">{{ data.value }}</td>
            </tr>
        </tbody>
    </table>
</div>