@font-face {
  font-family: RobotoBlack;
  src: url(/ui/common/Roboto-Black.ttf);
}

body {
  margin: 0;
  padding-top: 0px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: RobotoBlack;
  font-size: 35px;
  overflow: hidden;
}

.gauge {
  width: 100%;
  opacity: 0;
}

.gauge.visible {
  opacity: 1;
}

.center-screen {
  width: 15%;
  margin-top: 10px;
  margin-left: 120px;
  color: #E6E6E6;
  font-size: 20px;
  font-variant: narrow;
  text-align: center;
}
    
.speed {
  font-size: 30px;
  display: inline-block;
}

.battery-gauge {
  position: relative;
  left: 2px;
}

.speedUnit {
  font-size: 20px;
}

.consumption {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
}
        
.consumptionVal {
  width: 50%;
  font-size: 20px;
  float: left;
}

.consumptionUnit {
  width: 0%;
  font-size: 15px;
  line-height: 30px;
  float: left;
  margin-left: 5px;
}

.right-screen {
  width: 50%;
  margin-top: -60px;
}

.evmode-screen {
  position: absolute;
  right: 210px;
  bottom: 74px;
  width: 24px;
  height: 24px;
  color: #4EFF4E;
  font-weight: bold;
  font-style: italic;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
}

.gear-screen {
  position: absolute; 
  right: 152px; 
  bottom: 65px;
  border:2px solid #E6E6E6; 
  width: 40px; 
  height: 25px;
  color: #E6E6E6;
  font-weight:bold; 
  font-size:20px; 
  text-align: center; 
  line-height: 25px;
}

.efficiencyGauge {
  position: relative;
  margin-left: 53px;
  margin-top: -325px;
  transform: rotate(109deg);
  transform-origin: 50%, 50%;
}

.efficiencyBar {
  transform-origin: 50%, 50%;
}

.efficiency {
  stroke-dasharray: 339.292;
  stroke-dashoffset: -271;
}