<html ng-app="gaugesScreen">
<head>
  <meta charset="UTF-8">
  <script src="../../../ui/lib/ext/angular.min.js"></script>
  <script src="gauges_screen.js"></script>
  <link type="text/css" rel="stylesheet" href="gauges_screen.css">
</head>

<body ng-controller="GaugesScreenController as gaugeCtrl">
  <div class="gauge" ng-class="{visible: data.gaugesVisible}">
    <div class="center-screen">
      <div class="speed">
        <div class="speedVal">{{data.speedVal}}</div>
        <div class="speedUnit">{{data.speedUnit}}</div>
      </div>
      <div class="battery-gauge" ng-include="'battery_gauge.svg'" onload="svgLoaded()"></div>
      <div class="temp">{{data.temp}}</div>
      <div class="time">{{data.time}}</div>
      <div class="consumption">
        <div class="consumptionVal">{{data.consumptionVal}}</div>
        <div class="consumptionUnit">{{data.consumptionUnit}}</div>
      </div>
    </div>
    <div class="evmode-screen">
      <div>{{data.evMode}}</div>
    </div>
    <div class="gear-screen">
      <div>{{data.gear}}</div>
    </div>
    <div style="right: 51px; bottom: 22px; position: absolute;" ng-include="'gauges_screen.svg'" onload="svgLoaded()"></div>
</body>

</html>